<section class="container login ">
    <div class="col-md-12 appointment ftco-animate">
        <h3 class="mb-3" style="color: #fac564;">Login</h3>
        <form action="/login" method="POST" class="appointment-form">
            <div class="d-md-flex">
                
            </div>
            <div class="d-me-flex">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Enter your email" 
                        onfocus="this.placeholder=''" onblur="this.placeholder='Please enter your email' "
                        required>
                </div>
            </div>
            <div class="d-me-flex">
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Enter your password" 
                        onfocus="this.placeholder=''" onblur="this.placeholder='Please enter your passport' "
                        required>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit"  class="btn btn-primary py-3 px-4">
            </div>
        </form>
    </div>
</section>