.dropdown-menu{
	font-family: sans-serif;
	font-size: 12px;
	background-color: #121618 !important;
}
.dropStyle a{
	background-color: #121618;
	color: white;
}
.dropStyle a:hover{
	background-color: #121618;
	color: #fac564;
}

.hidden{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 3s, opacity 3s linear;
	
}