

<body>

        <div class="page-content form-page">
            <!-- Page Header-->
            <div class="bg-dash-dark-2 py-4">
                <div class="container-fluid">
                    <h2 class="h5 mb-0">Forms</h2>
                </div>
            </div>
            
            <!-- Forms Section-->
            <section class="pt-2">
                <div class="container-fluid">
                    <div class="row gy-4">
                        
                        
                        <!-- Modal Form-->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="mb-0">Add Category</h3>
                                </div>
                                <div class="card-body pt-0 text-center">
                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Click to Add category </button>
                                    <!-- Modal-->
                                    <div class="modal fade text-start" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myModalLabel">Category Name</h5>
                                                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Add products category name</p>
                                                    <form>
                                                        <div class="mb-3">
                                                            <label class="form-label" for="categoryInput">Category Name</label>
                                                            <input class="form-control" id="inputCategory"  type="text" aria-describedby="emailHelp">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" id="saveCat" type="button">Save Category</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Form Elements -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="h4 mb-0">Add product</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <form class="form-horizontal" action="/admin" method="POST" enctype="multipart/form-data">
                                        <div class="my-4"></div>
                                        
                                        
                                        <div class="my-4"> </div>
                                        <div class="row">
                                            <label class="col-sm-3 form-label">Product Details</label>
                                            <div class="col-sm-9">
                                                <div class="input-material-group mb-3">
                                                    <input class="input-material" id="productName" type="text" name="productName" required>
                                                    <label class="label-material" for="register-username">Product Name</label>
                                                </div>
                                                <div class="input-material-group mb-3">
                                                    <input class="input-material" id="productDetails" type="text" name="productDetails" required>
                                                    <label class="label-material" for="">Product Details</label>
                                                </div>
                                            </div>
                                            <div class="my-4"></div>
                                            <div class="row">
                                            <label class="col-sm-3 form-label">Select Product Category</label>
                                            <div class="col-sm-9">
                                                <select class="form-select mb-3" name="category">
                                                    <option >Select category </option>
                                                    <% category.forEach(e => { %>
                                                        <option value="<%=e._id%>"><%= e.name %> </option>
                                                    <% }) %>
                                                    
                                                    
                                                </select>
                                            </div>
                                        </div>
                                            <div class="my-4"></div>
                                            <div class="row">
                                                <label class="col-sm-3 form-label" for="formFile">Product image input</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="productImage" id="formFile" type="file">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my-4"></div>
                                        <div class="row">
                                            <label class="col-sm-3 form-label">Product price</label>
                                            <div class="col-sm-9" id="variantBox">
                                                <div class="input-group mb-3"> 
                                                    <span></span>
                                                    <button class="btn btn-primary" id="addNewVariant" type="submit">Add more varient</button>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="my-4"></div>
                                       
                                        
                                        
                                        
                                        <div class="row">
                                            <div class="col-sm-9 ms-auto">
                                                <button class="btn btn-secondary" type="reset">Cancel</button>
                                                <button class="btn btn-primary" id="productSubmit" type="submit">Save changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    
  
</body>

